*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.dart_tool/
assets/credentials/

# Kotlin
.kotlin/
kotlin-compiler-*.salive

# Logs
*.log
gradle_log*.txt
log.txt

# Release credentials
android/key.properties
android/app/upload-keystore.jks

# Accidentally committed personal access tokens / key artifacts
ghp_*